<div class="row">
  <h3>Your Reading List</h3>
</div>

<% @books.each do |book| %>
  <div class="row">
    <div class="large-2 columns small-3">
      <%= image_tag("#{rand(0..30)}.jpg", class: "book_cover") %>
    </div>
    <div class="large-10 columns">
      <p>
        <strong><%= book.name %></strong> by: <%= book.author %><br>
        <%= book.description %>
      </p>
      <ul class="inline-list">
      <li><a href="">Reply</a></li>
      <li><a href="">Share</a></li>
      </ul>
    </div>
    <hr />
  </div>
<% end %>

<br><br><br><br><br><br><br>
