<div id="books_page">
  <h2>All Books</h2>

  <ul class="large-block-grid-4">
    <% for book in @books %>
      <%= render partial: "book", :locals => {:book => book} %>
    <% end %>
  </ul>

  <br>
  <h3 style="text-align: center;"><%= will_paginate @books %></h3>
</div>
