<div id="books_page">
  <h2>All Books</h2>

  <ul class="large-block-grid-4">
    <% for book in @books %>
      <%= render partial: "book", :locals => {:book => book} %>
    <% end %>
  </ul>

  <br>
  <h3><%= will_paginate @books, style: "width: 480px; margin: auto;" %></h3>
</div>
